*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.text1{
    font-size: 30px;
    color: blue;

}
.text2{
    font-size: 20px;
    color: red;
}
.text3{
    font-size: 25px;
    color: yellow;
}
.text4{
    font-size: 35px;
    color: lime;
}
img{
    width: 300px;
    height: 200px;
    margin: 10px;
}
h1{
    margin: 10px;
}
.pic1{
    box-shadow: 0 0 30px red;
}
.pic2{
    box-shadow: 0 0 30px blue;
}
.pic3{
    box-shadow: 0 0 30px green;
}